/* CARD CONTAINER */

.pic5,.pic1,.pic3,.pic4,.pic2{
    position: relative;
    display: inline-block;
}

/* IMAGE */

.img1{
    height:320px;
    width:252.5px;
    margin-right:15px;
    margin-left:16px;
    border-radius:9px;
}

/* DARK GRADIENT OVERLAY */

.pic5::after{
    content:"";
    position:absolute;
    bottom:0;
    left:16px;
    width:252.5px;
    height:120px;

    border-radius:9px;

    background:linear-gradient(
        to top,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.6),
        rgba(0,0,0,0)
    );
}
.pic1::after{
    content:"";
    position:absolute;
    bottom:0;
    left:16px;
    width:252.5px;
    height:120px;

    border-radius:9px;

    background:linear-gradient(
        to top,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.6),
        rgba(0,0,0,0)
    );
}
.pic2::after{
    content:"";
    position:absolute;
    bottom:0;
    left:16px;
    width:252.5px;
    height:120px;

    border-radius:9px;

    background:linear-gradient(
        to top,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.6),
        rgba(0,0,0,0)
    );
}
.pic3::after{
    content:"";
    position:absolute;
    bottom:0;
    left:16px;
    width:252.5px;
    height:120px;

    border-radius:9px;

    background:linear-gradient(
        to top,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.6),
        rgba(0,0,0,0)
    );
}
.pic4::after{
    content:"";
    position:absolute;
    bottom:0;
    left:16px;
    width:252.5px;
    height:120px;

    border-radius:9px;

    background:linear-gradient(
        to top,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.6),
        rgba(0,0,0,0)
    );
}

/* TEXT AREA */

.trend{
    position:absolute;
    bottom:20px;
    left:30px;

    color:white;
    z-index:2;
}

/* TEXT STYLE */

.para1{
    font-size:18px;
    font-weight:bold;
}

.pa2{
    font-size:16px;
}